{% extends "base.html" %}
{% load bootstrap %}

{% block title %}ユーザ登録{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <h1>ユーザ登録</h1>
      <form method="POST" class="mt-4" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        {{ form2|bootstrap }}
        {{ form.non_field_errors }}

        <button class="btn btn-primary btn-lg mt-3" type="submit">登録</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
