{% extends 'base.html' %}

{% block title %}単位取得状況{% endblock %}

{% block content %}
<p>・このページでは、卒業までに必要な単位数が一目で確認できます。 </p>


<div class="container mt-4">
  <div class="row">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <p class="h3">卒業までの単位数</p>
          <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <span class="fw-bolder">外国語科目 {% if foreign_language > 0 %}{{ foreign_language }}{% else %}0{% endif %} 単位 </span>
              </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
              第一外国語科目 {% if first_language > 0 %}{{ first_language }}{% else %}0{% endif %} 単位
              </div>
          </div>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  第二外国語科目 {% if second_language > 0 %}{{ second_language }}{% else %}0{% endif %} 単位
              </div>
              </div>
          </div>
          <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="fw-bolder">専門科目 {% if specialize_subject > 0 %}{{ specialize_subject }}{% else %}0{% endif %} 単位 </span>
              </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
              学部共通科目 {% if gakubu_subject > 0 %}{{ gakubu_subject }}{% else %}0{% endif %} 単位
              </div>
          </div>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  学科共通科目{% if department_subject > 0 %}{{ department_subject }}{% else %}0{% endif %} 単位
              </div>
          </div>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  学科共通科目（情報専門科目）{% if information_subject > 0 %}{{ information_subject }}{% else %}0{% endif %} 単位
              </div>
          </div>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  分野科目{% if field_subject > 0 %}{{ field_subject }}{% else %}0{% endif %} 単位
              </div>
          </div>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  学科共通科目(リメディアル){% if remedial_subject > 0 %}{{ remedial_subject }}{% else %}0{% endif %} 単位
              </div>
          </div>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  自由科目 {% if free_subject > 0 %}{{ free_subject }}{% else %}0{% endif %} 単位
              </div>
          </div>
      </div>
    </div>
  </div>
</div>