{% extends "base.html" %}

{% block title %}単位取得状況{% endblock %}

{% block content %}
<p>・このページでは、卒業までに必要な単位数が一目で確認できます。</p>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item h3">卒業まであと合計 <span class="fw-bolder">{% if rest_credit > 0 %}{{ rest_credit }}{% else %}0{% endif %}</span>単位</li>
                        <li class="list-group-item">共通教養科目あと <span class="fw-bolder">{% if rest_kyoutu > 0 %}{{ rest_kyoutu }}{% else %}0{% endif %}</span>単位</li>
                        <li class="list-group-item">外国語科目あと <span class="fw-bolder">{% if rest_foreign > 0 %}{{ rest_foreign }}{% else %}0{% endif %}</span> 単位</li>
                        <li class="list-group-item">第一外国語科目あと <span class="fw-bolder">{% if rest_first > 0 %}{{ rest_first }}{% else %}0{% endif %}</span> 単位</li>
                        <li class="list-group-item h3">卒業まで専門科目あと <span class="fw-bolder">{% if rest_specialize > 0 %}{{ rest_specialize }}{% else %}0{% endif %}</span> 単位</li>
                        <li class="list-group-item">情報専門科目あと <span class="fw-bolder">{% if rest_information > 0 %}{{ rest_information }}{% else %}0{% endif %}</span> 単位</li>
                        <li class="list-group-item">学部共通科目あと <span class="fw-bolder">{% if rest_gakubu > 0 %}{{ rest_gakubu }}{% else %}0{% endif %}</span> 単位</li>
                        <li class="list-group-item">学科共通科目あと <span class="fw-bolder">{% if rest_department > 0 %}{{ rest_department }}{% else %}0{% endif %}</span> 単位</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">合計取得単位:{% if total_credit > 0 %}{{ total_credit }}{% else %}0{% endif %}単位</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">共通教養科目 {% if kyoutu > 0 %}{{ kyoutu }}{% else %}0{% endif %} 単位</li>
                        <li class="list-group-item h5">外国語科目 {% if foreign_language > 0 %}{{ foreign_language }}{% else %}0{% endif %} 単位</li>
                        <li class="list-group-item">第一外国語科目 {% if first_language > 0 %}{{ first_language }}{% else %}0{% endif %} 単位</li>
                        <li class="list-group-item">第二外国語科目 {% if second_language > 0 %}{{ second_language }}{% else %}0{% endif %} 単位</li>
                        <li class="list-group-item h5">専門科目 {% if specialize_subject > 0 %}{{ specialize_subject }}{% else %}0{% endif %} 単位</li>
                        <li class="list-group-item">学部共通科目 {% if gakubu_subject > 0 %}{{ gakubu_subject }}{% else %}0{% endif %} 単位</li>
                        <li class="list-group-item">学科共通科目 {% if department_subject > 0 %}{{ department_subject }}{% else %}0{% endif %} 単位</li>
                        <li class="list-group-item">情報専門科目 {% if information_subject > 0 %}{{ information_subject }}{% else %}0{% endif %} 単位
                        <li class="list-group-item">分野科目{% if field_subject > 0 %}{{ field_subject }}{% else %}0{% endif %} 単位</li>
                        <li class="list-group-item">学科共通科目(リメディアル) {% if remedial_subject > 0 %}{{ remedial_subject }}{% else %}0{% endif %} 単位</li>
                        <li class="list-group-item">自由科目 {% if free_subject > 0 %}{{ free_subject }}{% else %}0{% endif %} 単位</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}