{% extends "base.html" %}
{% load bootstrap %}
{% block title %}パスワード変更{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-6">
    <form action="" method="POST">
      <br>
  <p>メールを受信してパスワード変更手続きを行います。</p>
  <p>メールアドレスを入力して送信ボタンを押してください。</p>
  <div class="form-group">
    {% csrf_token %}
    {{ form|bootstrap }}
    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
  </div>
  <br>
  <div class="form-group row">
    <div class="col-6">
      <button type="submit" class="btn btn-primary btn-block">送信</button>
    </div>
    </form>
  </div>
</div>
{% endblock %}