{% extends "base.html" %}

{% block title %}削除{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            {{ form.as_p }}
            
              <h5 class="card-subtitle mb-4">登録している全科目を削除します。</h5>
              <p class="card-text">本当に全ての科目を削除してもよろしいですか？<br>削除された科目は元に戻せません。</p>
            
            <div>
              <button class="btn btn-outline-primary mr-2" onclick="location.href='{% url 'list' %}'">戻る</button>
              <input type="submit" class="btn btn-danger" name="confirm_delete" value="すべて削除する">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
