{% extends "base.html" %}
{% load bootstrap %}

{% block title %}
unipaへ自動ログインする
{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-
loading-overlay@2.1.7/dist/loadingoverlay.min.js">
</script>

  <div>
    <h2>unipaにログインする</h2>
    <p class="mb-2">・unipaにログインする際のIDとパスワードを入力してログインボタンを押してください。</p>
    <p >・情報を取得するには30秒ほど時間がかかります。ブラウザの戻るボタンを押さないでください。</p>
    <br>
    <form method="POST" id="form">
      {% csrf_token %}
      {{ form|bootstrap }}
      {{ form.non_field_errors }}
      <br>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">ログインする</button>
        <a href="{% url 'list' %}" class="btn btn-secondary">戻る</a>
        <!-- <button class="btn btn-outline-success" type="button" onclick="location.href='{% url 'new' %}'">
          手動で科目登録</button> -->
      </div>
    </form>
  </div>

<script>
  $(function() {
    $("form").on('submit', function(){
      $.LoadingOverlay("show", {
      text :"ブラウザの戻るを押さずにお待ちください"
    });
    });
  });
</script>

{% endblock %}